.chart {
  margin: 1rem;
  figure {
    border-bottom: 1px solid;
    border-left: 1px solid;
    height: 20rem;
    margin: 1rem;
    margin-left: 0.5rem;
    margin-bottom: 2.5rem;
    padding: 0;
    position: relative;
    width: 95%;
  }

  &_line-chart {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &_data-point {
    background-color: white;
    border: 2px solid lightblue;
    border-radius: 50%;
    height: 12px;
    position: absolute;
    width: 12px;

    &__label {
      rotate: -90deg;
      position: absolute;
      &-name {
        padding: 0;
        margin: 0;
        font-size: small;
      }
    }
  }

  &_line-segment {
    background-color: rgba(128, 0, 128, 0.347);
    height: 3px;
    position: absolute;
    transform-origin: left bottom;
  }
}
