@import "card";
@import "form";
@import "billDate";
@import "billItem";
@import "billList";
@import "bills";
@import "modal";
@import "billFilter";
@import "chart";

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  min-height: 100rem;
  background-size: cover;
}

body {
  margin: 0;
  background: linear-gradient(
    360deg,
    rgba(128, 0, 128, 0.452),
    rgba(128, 0, 128, 0.562)
  );
}

button {
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: rgba(128, 0, 128, 0.562);
  color: white;
}

button:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.5);
}

div {
  text-align: center;
}

.star {
  color: red;
}

.addNewButton {
  font-size: 15px;
  padding: 1rem;
}

.appCard {
  width: 50%;
  margin: 0 auto;
}

li {
  margin: 0 1rem 1rem 1rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 0.2rem;
}

i {
  color: rgba(128, 0, 128, 0.562);

  &:hover {
    cursor: pointer;
    color: rgba(128, 0, 128, 0.347);
  }
}
